table.bordered.fancy.zebra.left(width="100%")
    thead
        tr
            td= "Priority"
            td= "Title"
            td= "Project Owner"
            td= "Deadline"
            td= "Status"
            td.hide= ""
    tbody
        each val in currItems
            tr.no-info.item
                - var priority = ""
                - var title = ""
                - var owner = ""
                - var deadline = ""
                - var status = ""
                - var description = ""

                each field in val.fields
                    if field.label == "Priority"
                        - priority = field.values[0].value.text
                    if field.label == "Project name"
                        - title = field.values[0].value
                    if field.label == "Project owner"
                        each ownerName in field.values
                            - owner = owner + ', ' + ownerName.value.name
                    if field.label == "Deadline"
                        - deadline = field.values[0].start_date
                    if field.label == "Status"
                        - status = field.values[0].value.text
                    if field.label == "Project description"
                        - description = field.values[0].value

                td.priority
                    if status == "Ongoing"
                        div.notapplicable
                    else
                        div(class= priority)= priority
                td.title
                    h3: b= title
                td.owner
                    div= owner.substring(1, owner.length)
                td.deadline
                    div= moment(deadline, 'YYYY-MM-DD').endOf('day').fromNow()
                td.status
                    span(class="text-has-icon #{status.replace(/ /g,'').toLowerCase()}")= status
                        if status == "Ongoing"
                            i.ki.history
                        if status == "Submitted"
                            i.ki.attention
                        if status == "In progress"
                            i.ki.play
                        if status == "Complete"
                            i.ki.check
                        if status == "Archived"
                            i.ki.folder
                td.hide.expand
                    span +
                    div.hide.more-info
                        p= description
                        ul
                            each milestone in val.milestones
                                - var msStatus = ""

                                each field in milestone.fields
                                    if field.label == "Status"
                                        - msStatus = field.values[0].value.text

                                li
                                    div.status-box
                                        = milestone.title
                                        = msStatus

